@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*styling header and nav links*/

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
    color: #565F60;

}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

#menu {
    color: #565F60;
    font-size: 100%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

/* nav link styling */

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #565F60;
    font-size: 120%;
}

.active {
    border-bottom: 1px solid #565F60;
}

/* mindful way logo image insertion */

#mindful-way-image {
    height: 600px;
    width: 100%;
    background: url(../images/mindful-way-logo.jpg) center center no-repeat;

    /* applying animation to mindful way image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}

/* creating rule for hero image zoom out once page is opened */
@keyframes image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#image-message,
#image-message h2 {
    color: white;
}

#image-message {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;


    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;

    background-color: rgba(191, 219, 247, 0.6);

    top: 40px;
    right: 100px;

    position: absolute;
}

/* inserting video*/

#video {
    height: 400px;
    width: 100%;
    padding-top: 40px;

    place-items: center;
    text-align: center;
    background-color: rgba(191, 219, 247, 0.6);
}

#video-header {
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: Montserrat, sans-serif;
}

#reasons {
    height: 500px;
    margin: 15px 0 15px 0;
    padding: 10px;

    background-color: rgba(191, 219, 247, 0.8);
}

#reasons div {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    color: #565F60;
    padding: 10px;
}

#reasons h2 {
    font-size: 200%;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 20px;

}

#reasons-header {
    border-bottom: solid 1px #565F60;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reasons-one,
.reasons-two,
.reasons-three,
.reasons-four {
    flex: 25%;
}

/* styling footer and social media links */

footer {
    height: 100px;
    margin: 15px;
}

#stay-connected {
    text-align: center;
    color: #565F60;
}

.social-media-links {
    text-align: center;
}

.social-media-links>li {
    display: inline;
}

.social-media-links i {
    font-size: 200%;
    margin: 20px;
    padding: 20px;
    color: #565F60;
}

/* events image */

#events {
    background-image: url(../images/events-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

    color: #FCF6FC;
}

#events h2 {
    color: #FCF6FC;
}

#events div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;

}

#quote {
    font-size: 150%;
    text-align: center;
}

#email-contact {
    text-align: center;
    font-size: 120%;
}

/* Sign Up Form */

#signup-form {
    height: 800px;
    width: 100%;
    clear: both;

    background: url(../images/form.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#form {
    margin: 50px 10px 10px 10px;
    max-height: 700px;
    max-width: 500px;
    left: 60%;
    position: absolute;
    padding: 10px;

    background-color: rgba(191, 219, 247, 0.9);
    color: #565F60;
    font-size: 120%;
    line-height: 1.5;
}

#form h2 {
    font-size: 110%;
    text-align: center;
}

.input {
    background: transparent;
    text-align: left;
    border: 1px solid #565F60;
    width: 100%;
}

.submit {
    font-family: Montserrat, sans-serif;
    color: #565F60;
    background: transparent;
    border: 1px solid #565F60;
    display: block;
    padding: 10px 20px 10px 20px;
}

/* Media Queries  1350px and below*/

@media screen and (max-width: 1350px) {

    #reasons {
        width: 100%;
        padding: 0;

        height: 700px;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #practise-reasons-header {
        padding: 30px 0;
        margin: 0;
    }

    #video-header {
        font-size: 95%;
        text-align: center;
    }

    #video {
        text-align: center;
        box-sizing: border-box;
        padding: 5px;
    }

    #signup-form {
        height: 800px;
        margin: 0;
        font-size: 100%;
        clear: both;
        overflow: hidden;
    }

    #form h2 {
        font-size: 100%;
    }

    #events {
        width: 100%;
        margin: 0 auto;
    }
}

/* Media Queries 900px and below */

@media screen and (max-width: 900px) {
    #logo {
        width: 98%;
        clear: both;
        margin: 10px 0 !important;
        display: flex;
        justify-content: center;
        line-height: 40px;
        text-align: center;
    }

    #reasons {
        width: 100%;
        height: 700px;

        font-size: 90%;
    }

    #menu {
        clear: both;

        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #events {
        width: 100%;
        clear: both;
    }

    #signup-form h3 {
        text-align: center;
        font-size: 130%;
    }

    #form {
        max-width: 100%;
        min-width: fit-content;
        height: 500px;
        margin: 0 auto;
        padding: 5px;
        font-size: 120%;
        position: relative;
        top: 100px;
        left: 0;

    }
}

/* Media Queries 770px and below */

@media screen and (max-width: 770px) {
    #reasons {
        width: 100%;
        clear: both;
        height: 880px;
        font-size: 85%;
    }

    #form {
        top: 80px;
        height: 620px;
    }

    #video {
        width: 100%;
        clear: both;
    }

    /* Media Queries 500px and below */

    @media screen and (max-width: 500px) {
        #reasons {
            width: 100%;
            clear: both;
            height: 880px;
            font-size: 65%;
        }

        #logo {
            font-size: 95%;
            text-align: center;
            line-height: 35px;
            margin: 10px 0 !important;
            padding: 0;
        }

        #menu {
            font-size: 75%;
            letter-spacing: 2px;
            text-align: center;
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;
            padding-right: 5px;
            line-height: 35px;
        }

        #image-outer {
            width: 100%;
        }

        #mindful-way-image {
            width: 100%;
            object-fit: cover;
        }

        #image-message {
            width: 250px;
            height: 180px;
            padding-top: 5px;
            padding-bottom: 5px;
            left: 30px;
            top: 50px;
            font-size: 80%;
        }

        #video {
            width: 100%;
            padding: 5px;
        }

        iframe {
            width: 100%;
        }

        .social-media-links i {
            font-size: 90%;
        }

        #quote {
            font-size: 90%;
        }

        #events {
            font-size: 80%;
        }

        #events h2 {
            font-size: 100%;
        }

        #email-contact {
            font-size: 90%
        }

        h3 {
            font-size: 100%;
        }

        #form {
            height: 560px;
            font-size: 105%;
        }

        #form h2 {
            font-size: 85%;
        }
    }