@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*styling header and nav links*/

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
    color: #717D7E;

}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

/* nav link styling */

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #717D7E;
    font-size: 120%;
}

.active {
    border-bottom: 1px solid #717D7E
}

/* mindful way logo image insertion */

#mindful-way-image {
    height: 600px;
    width: 100%;
    background: url(../images/mindful-way-logo.jpg) center center no-repeat;

    /* applying animation to mindful way image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}

/* creating rule for hero image zoom out once page is opened */
@keyframes image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#image-message,
#image-message h2 {
    color: white;
}

#image-message {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;


    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;

    background-color: rgba(191, 219, 247, 0.6);

    bottom: 20px;
    right: 100px;

    position: absolute;
}

/* inserting video*/

#video {
    height: 400px;
    width: 100%;
    padding-top: 40px;

    place-items: center;
    text-align: center;
    background-color: rgba(191, 219, 247, 0.6);
}

#video-header {
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: Montserrat, sans-serif;
}

#reasons {
    height: 500px;
    margin: 15px 0 15px 0;
    padding: 10px;

    background-color: rgba(191, 219, 247, 0.8);
}

#reasons div {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    color: #717D7E;
    padding: 10px;
}

#reasons h2 {
    font-size: 200%;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 20px;

}

#reasons-header {
    border-bottom: solid 1px #717D7E;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reasons-one,
.reasons-two,
.reasons-three,
.reasons-four {
    flex: 25%;
}

/* styling footer and social media links */

footer {
    height: 100px;
    margin: 15px;
}

#stay-connected {
    text-align: center;
    color: #717D7E;
}

.social-media-links {
    text-align: center;
}

.social-media-links>li {
    display: inline;
}

.social-media-links i {
    font-size: 200%;
    margin: 20px;
    padding: 20px;
    color: #717D7E;
}

/* events image */

#events {
    background-image: url(../images/events-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

    color: #FCF6FC;
}

#events h2 {
    color: #FCF6FC;
}

#events div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;

}

#quote {
    font-size: 150%;
    text-align: center;
}

#email-contact {
    text-align: center;
    font-size: 120%;
}

/* Sign Up Form */

#signup-form {
    height: 800px;
    width: 100%;
    clear: both;

    background: url(../images/form.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#form {
    margin: 50px 10px 10px 10px;
    max-height: 600px;
    max-width: 500px;
    left: 60%;
    position: absolute;
    padding: 20px;

    background-color: rgba(191, 219, 247, 0.8);
    color: #717D7E;
    font-size: 120%;
    line-height: 1.5;
}

.input {
    background: transparent;
    text-align: left;
    border: 1px solid #717D7E;
    width: 100%;
}

.submit {
    background: transparent;
    border: 1px solid #717D7E;
    display: block;
    padding: 10px 20px 10px 20px;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
    #reasons {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #practise-reasons-header {
        padding: 30px 0;
        margin: 0;
    }

    .reasons-one {
        width: 100%;
        padding: 0;
        flex: 100%;
    }

    .reasons-two {
        width: 100%;
        clear: both;
        float: left;
        padding: 0;
        flex: 100%;
    }

    .reasons-three {
        width: 100%;
        clear: both;
        padding: 0;
        flex-grow: 100%;
    }

    .reasons-four {
        width: 100%;
        clear: both;
        padding: 0;
        flex: 100%;
    }

    #video-header {
        font-size: 80%;
        text-align: center;
    }

    #video {
        text-align: center;
    }

    #form {
        height: 700px;
        font-size: 100%;
    }

}